<?xml version="1.0"?>
<!--
/**
 * @package   FactorBlue_AdditionalFee
 * @author    Nikola Tujković <tujkovicn@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="additionalfee" translate="label" sortOrder="40">
            <label>Factor Blue</label>
        </tab>
        <section id="additionalfee" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Additional Fee</label>
            <tab>additionalfee</tab>
            <resource>FactorBlue_AdditionalFee::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Additional Fee Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <comment>Shown name of the fee.</comment>
                </field>
                <field id="amount" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Amount</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Additional fee amount added to transactions in used website's currency.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
